In [28]:
import pandas as pd
from pathlib import Path
csv_path = Path("/Users/adnanquaderi/Desktop/python-homework/PyBank/budget_data.csv")
df = pd.read_csv(csv_path)


print (df.shape)
print (df.info())
#index = df.index
rows = len(df)
print(f"rows {rows}")
print()
print()
print(f"Financial Analysis")
print(f"----------------------------------------------------------------")
print(f"Total Months ")
df.head()

(86, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB
None
rows 86


Financial Analysis
----------------------------------------------------------------
Total Months

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503